external_components:
  - source: github://svinginum/esphome_components
    refresh: 0s  
    
sentio:
    
select:

  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Set modbus mode"
    id: sentio_set_modbus_mode
    address: 0x00005
    force_new_range: true
    use_write_multiple: true
    value_type: U_WORD
    optionsmap:
      "Disabled" : 0
      "Read only" : 1
      "Read/Write" : 2
      "Write with password" : 3

  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Sentio Vacation Mode"
    id: sentio_vacation_mode
    address: 27
    force_new_range: true
    use_write_multiple: true
    value_type: U_WORD
    optionsmap:
      "OFF" : 0
      "ON" : 1

  # Pump State - Input Register 07304
  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Sentio Pump State"
    id: sentio_pump_state
    address: 7304
    force_new_range: true
    use_write_multiple: true
    value_type: U_WORD
    optionsmap:
      "IDLE" : 1
      "ON" : 2

#########################
#### SYSTEM TEMPERATURE SENSORS (T1-T3) ####
#########################
sensor:

  # T1 - Main supplier temperature
  # Input Register 07308 - Main supplier temperature
  #- platform: modbus_controller
  #  modbus_controller_id: sentio_modbus_controller
  # name: "Sentio T1 Wired Output Temperature"
  #  id: sentio_t1_wired_output_temp
  #  unit_of_measurement: 째C
  #  accuracy_decimals: 1
  #  device_class: temperature
  #  register_type: read
  #  address: 7308
  #  filters:
  #    - multiply: 0.01

  # T2 - Measured inlet temperature (Flow temperature for heating circuit 1)
  # Input Register 07305 - Measured temperature of the inlet heating/cooling water
  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Sentio Flow Temperature"
    id: sentio_t2_flow_temp
    unit_of_measurement: 째C
    accuracy_decimals: 1
    device_class: temperature
    register_type: read
    address: 7705
    filters:
      - multiply: 0.01

  # T3 - Measured return temperature
  # Input Register 07307 - Measured return temperature
  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Sentio Return Temperature"
    id: sentio_t3_return_temp
    unit_of_measurement: 째C
    accuracy_decimals: 1
    device_class: temperature
    register_type: read
    address: 7307
    filters:
      - multiply: 0.01

  # Desired inlet temperature (Setpoint - Read only)
  # Input Register 07306 - Desired temperature of the inlet heating/cooling water
  # The value which the ITC regulator wants to meet
  - platform: modbus_controller
    modbus_controller_id: sentio_modbus_controller
    name: "Sentio Wanted Flow Temperature"
    id: sentio_desired_inlet_temp
    unit_of_measurement: 째C
    accuracy_decimals: 1
    device_class: temperature
    register_type: read
    address: 7306
    filters:
      - multiply: 0.01

